.root {
  padding: var(--s16);
}

.paper {
  margin-bottom: var(--m20);
  padding: 0;
}

.reply {
  margin-left: auto;
}

.commentItem {
  margin-bottom: var(--m8);
}

.actions {
  display: flex;
  gap: var(--g8);
}

.react {
  margin-right: var(--m8);
}

.reactions {
  display: flex;
  gap: var(--m4);
  //justify-content: start;
  margin-left: var(--m12);
}