.rules {
  display: flex;
  align-items: flex-start;

  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: var(--s16) var(--s20);
  }
}
