:root {
  /* gap */
  --g4: 4px;
  --g20: 20px;

  /* size */
  --s28: 28px;
  --s40: 40px;
  --s120: 120px;
  --s600: 600px;

  /* colors */
  --primary-main: #1b6ed2;
  --primary-contrast-text: #fff;
}

body {
  margin: 0;
}
