:root {
  /* gap */
  --g4: 4px;
  --g20: 20px;

  /* size */
  --s28: 28px;
  --s40: 40px;

  //  height
  --h100vh: 100vh;

  //  font-weight
  --fw600: 600;
  --fw700: 700;

  //  font-size
  --fs160: 160px;

  //  margin
  --m20: 20px;
}

body {
  margin: 0;
}
