.end {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: var(--s16) var(--s20);
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: var(--g20);
  }
}
